@import url(general.css);

:root{
    --blueblack:#111;

}

.nav__sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    background-color: var(--blueblack);
    overflow: hidden;
    padding-top: 6rem;
    transition: 0.5s ease-in-out;
}

.nav__sidebar a{
    font-size: 2.5rem;
    color:#818181;
    display: block;
    padding: 0.8rem 0.8rem 0.8rem 3.2rem;
    transition: 0.3s ease-in-out;
}

.nav__sidebar a:hover{
    color: white;
}

.nav__sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 0.8rem;
    font-size: 3.5rem;
}

.openbtn{
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    color: white;
    background-color: var(--blueblack);
    transition: 0.5s ease-in-out;
    position: fixed;
    z-index: 10000;

}

.openbtn:hover{
    background-color: #444444;
}

#btn__open__main{
    transition: margin-left 0.5s;
}

.icon_bar{
    position: fixed;
    top: 13.5rem;
    right: 1rem;
    z-index: 10000;
    transform: translate(-50);
}

.icon_bar a{
    display: block;
    text-align: center;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 3rem;
    transition: 0.3s ease-in-out;
}

.icon_bar a:hover{
    background-color: var(--blueblack);
}

.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: #00acee;
}

.google{
    background-color: #DB4437;
}

.linkedin{
    background-color: #0e76a8;
}

.youtube{
    background-color: #c4302b;
}



