/* Normalizar */
html {
  box-sizing: border-box;
}

body {
  z-index: -100;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: 65.2%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
}

.sombra__estandar {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

