body{
  background-color: #6b0404
}

nav.ghost ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
}

nav.ghost .btnNew{
  display: inline-block;
  font-size: 16px;
  padding: 2px 10px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600

}
nav.ghost #ghost-child-content {
  position: absolute;
  top: 26px;
  right: 0;
  z-index: 999;    
  background: #fff;
  padding: 15px;
  border-radius: 10px 0 10px 10px;
  width: 250px; 
  display: none;
}

input.campos{
  background: #f1f1f1;
  padding: 6px 5px;
  margin-bottom: 10px;
  width: 240px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inserta {    
  background-color: #359AC2;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #044E6B;
  float: left;
  height: 28px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial;
  color: #fff;
}

.inserta:hover {    
  background-color: #044E6B;
} 

.label-ghost {
  float: right;
  line-height: 28px;
  font-size: 14px;
  color: #666;
}