*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2{
    font-size: 2.2vw;
}

.foot{
    background-color: #dd1658;
    bottom: 0;
    width: 100%;
    height: 65px;
}

.w-50{
    width: 50%;
}

.r{
    position: relative;
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
}

.pos-r{
    position: relative;
}

.d-f{
    display: flex;
}

.pos-a{
    position: absolute;
}

.text-lt{
  text-align: left;
}


.list-u, li{
    list-style: none;
}

.d-i{
    display: inline;
}

.h-max{
    height: 100%;
}

.align-i-e{
    align-content: flex-end;
}

.menu{
    padding: 2%;
}

.menu, .sec-foot{
    width: 100%;
    float: left;
    text-align: right;

    /* Decoraciones */
    background-color: #dd1658;
}

.menu ul li, .sec-foot ul li{
    display: inline-block;
    list-style: none;
    text-align: left;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
}

.sec-foot{
    width: 100%;
    float: left;
    text-align: right;
}

.ver-align{
    /* vertical-align: middle; */
    /* position: absolute; */
  height: 100%;
  top: 80%;
  margin-top: -20px;
}

.fl-lt{
    float: left;
}

.t-white{
    color: white;
}

.pl-3{
    padding-left: 3%;
}

.text-maroon{
    color: #dd1658;
}

.card-st{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    border-radius: 7px;
    margin: 0 auto;
    width: 30%;
    height: 320px;
    /* -webkit-box-shadow: 2px 0.5px 5px 2px gray; */
    box-shadow: 0px 0px 15px gray;
    /* border:#dd1658 0.4rem ridge; */
}

.btn{
    border-radius: 4px;
    padding: 0.5rem;
    display: flex;
    text-align: center;
    border: none;
    background-color:#dd1658;
    color: white;
    -webkit-box-shadow: 1px 1px 2px 1px gray;
    box-shadow: 1px 1px 2px 1px gray;
    cursor: pointer;
    transition: 300ms all;
}

.btn:hover{
    -webkit-box-shadow: 1px 1px 5px 1px gray;
    box-shadow: 1px 1px 5px 1px gray;
    cursor: pointer;
}

.jus-cont-center{
    justify-content: center;
    text-align: center;
}

.nav-st{
    width: 100%;
    position: fixed;
    top: 0;
}

.mt-5{
    margin-top: 100px;
}

.mb-5{
  margin-bottom: 100px;
}

.mt-4{
    margin-top: 70px;
}

.w-100{
  width: 100%;
}

.mt-3-5{
    margin-top: 50px;
}

.mt-3-2{
    margin-top: 40px;
}

.mt-3{
    margin-top: 30px !important;
}

.mt-2{
    margin-top: 17px !important;
}

.mt-1{
    margin-top: 10px;
}

.ml-3{
    margin-left: 10px;
}

.d-blo{
    display: block;
}

.d-n{
    display: none !important;
}

.pt-5{
    padding-top: 100px;
}

.p-5{
    padding-top: 5%;
}

.r-circle{
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.mr-3{
    margin-right: 10px;
}

.my-3{
  margin-bottom: 10px;
  margin-top: 10px;
}

.bg-whi{
    background-color: white;
}

.bg-maroon{
  background-color:#dd1658;
}

.text-dn{
    text-decoration: none;
}

input{
    margin: 0 auto;
    padding: 5px;
}

.center{
    margin: 0 auto;
}


.container {
    width: 100%;
    margin: auto 0;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .container {
      width: 540px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .container {
      width: 720px;
    }
  }

  @media (min-width: 992px)
  {
    .container {
      width: 960px;
    }
  }

  @media (min-width: 1200px)
  {
    .container {
      width: 1140px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    grid-gap: 3.125rem;
    align-items: stretch;
  }

  section {
    padding: 6.25rem 0;
  }

  .price-table {
    text-align: center;
    overflow: hidden;
    background: #fff;
    box-sizing: border-box;
    box-shadow: inset 0 0 2.5rem rgba(0, 0, 0, 0.2), 0 1.25rem 3.125rem rgba(0, 0, 0, 0.3);
    border-radius: 1.25rem;
  }

  @media (min-width: 576px) {
    .advance {
      transform: scale(1.1);
    }
  }

  .price-table .price-head {
    padding: 3.125rem;
    background: linear-gradient(45deg, #f36e21, #f3b121);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .price-table .price-head h4 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.875rem;
    font-weight: 700;
  }

  .price-table .price-head h2 {
    margin: 0;
    padding: 1.25rem 0;
    font-size: 1.625rem;
    color: #fff;
  }

  .price-table .price-content ul {
    margin: 0;
    padding: 1.25rem 0;
  }

  .price-table .price-content ul li {
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.625rem 0;
    color: #777;
    cursor: pointer;
    border-left: 0.94rem solid transparent;
    border-right: 0.94rem solid transparent;
    transition: 0.5s;
  }

  .price-table .price-content ul li:hover {
    border-left-color: #b1b1b1;
    border-right-color: #9e02c5;
  }

  .price-table .price-button {
    padding: 0 0 1.875rem;
  }

  .price-table .price-button a {
    padding: 0.625rem 2.5rem;
    background: linear-gradient(45deg, #2164f3, #f38021);
    color: #fff;
    border-radius: 1.56rem;
    font-size: 1.13rem;
    text-transform: uppercase;
    text-decoration: none;
  }